<!DOCTYPE html>
<html lang="en">
{% load url from future %}
{% load staticfiles %}

{# TODO: make blocks for header and content areas in body #}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- This is the magic setting that adjusts the presentation to mobile  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Economics Visualisaion{% endblock %}</title>
    <!--
          change to bootstrap.min.css for production
         removed media="screen"
     -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
    <link href="{% static 'visdjango.css' %}" rel="stylesheet">
    <link href="{% static 'nvd3-community/build/nv.d3.css' %}" rel="stylesheet">
    <script src="{% static 'js/panels.js' %}" %}></script>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'nvd3-community/build/nv.d3.js' %}"></script>
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'google-code-prettify/bin/prettify.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    {% block extrahead %}{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" style="height: 20px;">
    <div class="home-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Visualisation</a>
        </div>
        <!-- navbar-header -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="/">Home</a></li> -->
                <li><a href="{% url 'vis.views.about' %}">About</a></li>
                <li><a href="{% url 'vis.views.help' %}">Help</a></li>
                <li><a target="_blank" href="{% url 'vis.views.main_data' %}">Main Data</a></li>
                <li><a target="_blank" href="{% static 'debtdata.csv' %}">Main Data CSV</a></li>
            </ul>
            <!-- navbar-nav (left)-->
            <ul id="navbarright" class="nav navbar-nav navbar-right">
                <li><a class="simhref" onclick="quiz()">Quiz</a></li>
                <li><a target="_blank" href="https://github.com/lifebennder/Visdjango">Source on GitHub</a></li>
            </ul>
            <!-- navbar-right -->
        </div>
        <!-- navbar-collapse -->
    </div>
    <!-- container -->
</div>
<!-- navbar -->
<div class=" home-container" style="  height: 88vh; min-width: 800px;
    ">
    <div class="quiz" id="quiz">
        <img class="quit" style="" src="{% static 'images/cancel.png' %}" alt="close" onclick="quiz()">

        <div style="text-align: center;"><h1 style="margin-top: 0">&nbsp;&nbsp;&nbsp;&nbsp; Quiz</h1></div>

            <dl>
                <dt>1. How did the disparity between Real and Nominal Debt affect the UK economy?
                    <button class="btn btn-default " onclick="hint('data7')">Hint</button>
                </dt>
                <dd>
                    <form id="qqq1"  role="form">
                        <label class="radio-inline">
                            <input type="radio" name="q1" value=0>Increase Debt
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="q1" value=1>Increase Inflation
                        </label>

                    </form>

                </dd>
                <dt>2. When was the only decrease in GDP in UK history?</dt>
                <dd>
                    <form id="q2" role="form">
                        <label class="radio-inline">
                            <input type="radio" name="q2">Financial Crisis
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="q2">WWII
                        </label>

                    </form>
                </dd>
                <dt>3. Does the UK follow the phillips curve rule?</dt>
                <dd>
                    <form id="q3" role="form">
                        <label class="radio-inline">
                            <input type="radio" name="q3">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="q3">No
                        </label>

                    </form>
                </dd>
                <dt>4. What 2 events had the greatest impact on Debt as a % of GDP?</dt>
                <dd>
                    <form id="q4" role="form">
                        <label class="radio-inline">
                            <input type="radio" name="q4">Financial Crisis & Industrail Revolution
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="q4">The World Wars
                        </label>

                    </form>
                </dd>
                <dt>5. When did UK's population decrease?</dt>
                <dd>
                    <form id="q5" role="form">
                        <label class="radio-inline">
                            <input type="radio" name="q5">WWII (1939-1945)
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="q5">WWI (1914-1918)
                        </label>

                    </form>
                </dd>
                <dt>6. What did government spending have a direct affect on?</dt>
                <dd>
                    <form id="q6" role="form">
                        <label class="radio-inline">
                            <input type="radio" name="q6">Debt % of GDP
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="q6">Nominal Debt
                        </label>

                    </form>
                </dd>
                <dt>7. What affected the Interest Rates?</dt>
                <dd>
                    <form id="q7" role="form">
                        <label class="radio-inline">
                            <input type="radio" name="q7">Inflation
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="q7">Tax Revenue
                        </label>

                    </form>
                </dd>
                <dt>8. Does Nominal Debt have an effect on Uk's GDP?</dt>
                <dd>
                    <form id="q8" role="form">
                        <label class="radio-inline">
                            <input type="radio" name="q8">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="q8">No
                        </label>

                    </form>
                </dd>
                <dt>9. Did Population play a key role in the GDP's exponential Growth?</dt>
                <dd>
                    <form id="q9" role="form">
                        <label class="radio-inline">
                            <input type="radio" name="q9">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="q9">No
                        </label>

                    </form>
                </dd>
                <!--dt>10. What did government spending have a direct affect on?</dt>
                <dd>
                    <form role="form">
                        <label class="radio-inline">
                            <input type="radio" name="q1">Debt % of GDP
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="q1">Nominal Debt
                        </label>

                    </form>
                </dd-->
            </dl>
    </div>
    {% block sub_menu %}{% endblock %}
    {# include "messages.html" #}
    {% block content %}(no content){% endblock %}

    <hr/>

</div>
{% block footer %}
{% endblock %}
{% block extrafooter %}{% endblock %}

</body>

</html>

