<h1>Czech Republic Data Attributes</h1>
<h4>Series Details</h4>
<ul>
    <li>Real GDP - The inflation adjustment is set to reference 2010</li>
    <li>Tax Revenue- This includes all taxable income</li>
    <li>Inflation - The inflation relates the the Consumer Price Index, therefore consumer goods inflation</li>
</ul>
<br>
<h4>Data Sources</h4>

<p> The data is a compile data table comes from many sources. The data comes from the CZSO
    (Czech Statistical Office).</p>

<!--h1>Interesting data combinations</h1>
<ul class="twocolumns">
    <li><a onclick="setSeries(['Spending', 'Debt'])">Spending Vs. Public Debt</a></li>
    <li><a onclick="setSeries(['per capita'])">Real GDP (per Capita) Vs. GDP (per Capita)</a></li>
    <li><a onclick="setSeries(['GDP %'])">GDP %</a></li>
    <li><a onclick="setSeries(['GDP, billions','Real GDP, billions'])">Real GDP Vs. GDP</a></li>
    <li><a onclick="setSeries(['GDP, billions','per capita','Population'])">Population Vs. GDP</a></li>
    <li><a onclick="setSeries(['unemployment','Tax Rev, GDP %'])">Unemployment Vs. Tax Revenue, GDP %</a></li>
</ul-->
<h1>Further Reading</h1>
<ul class="twocolumns">
    <li><a href="http://en.wikipedia.org/wiki/Phillips_curve">Phillips Curve</a>:
        <a href="https://www.youtube.com/watch?v=-Fk_2iRfC18"> Video Explanation</a></li>
    <li><a href="http://en.wikipedia.org/wiki/IS%E2%80%93LM_model">IS-LM Model</a>:
        <a href="https://www.youtube.com/watch?v=Q3hoC8lDCBo"> Video Explanation</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Yield_curve">Yield Curve</a>:
        <a href="https://www.youtube.com/watch?v=3b69Ax5m7qg"> Video Explanation</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Laffer_curve">Laffer Curve</a>:
        <a href="https://www.youtube.com/watch?v=bnyeWcA2nXo"> Video Explanation</a></li>
</ul>