{% load staticfiles %}
        <img class="quit" style="" src="{% static 'images/cancel.png' %}" alt="close" onclick="quiz()">

        <div class="simhref" style="text-align: center;" onclick="quiz()"><h1 style="margin-top: 0">&nbsp;&nbsp;&nbsp;&nbsp;
            Quiz</h1></div>

        <dl>
            <dt>1. Did the increased GDP have an effect on Inflation of the Czech Republic?
                <a class="simhref" onclick="hint(['GDP, bill','Inflation'],true)">Hint</a>
            </dt>
            <dd>
                <form id="q1" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q1">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q1">No
                    </label>

                </form>

            </dd>
            <dt>2. When was the only decrease in GDP in Czech history?
                <a class="simhref" onclick="hint(['GDP, bill'],false)">Hint</a>
            </dt>
            <dd>
                <form id="q2" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q2">Financial Crisis
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q2">creation of the CZ
                    </label>

                </form>
            </dd>
            <dt>3. Does the Czech follow the phillips curve rule?
                <a class="simhref" onclick="hint('phillipscurve',false)">Hint</a></dt>
            <dd>
                <form id="q3" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q3">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q3">No
                    </label>

                </form>
            </dd>
            <dt>4. What effect did the increase in Debt have on interest rates?
                <a class="simhref" onclick="hint(['Debt', 'Interest'],true)">Hint</a>
            </dt>
            <dd>
                <form id="q4" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q4">Increase
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q4">Decrease
                    </label>

                </form>
            </dd>
            <dt>5. When did Czech's debt decrease?
                <a class="simhref" onclick="hint(['Debt'],true)">Hint</a></dt>
            <dd>
                <form id="q5" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q5">2014
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q5">1995
                    </label>

                </form>
            </dd>
            <dt>6. Is the Czech Rep. Real and Nominal GDP disparity the effect of inflation?
                <a class="simhref" onclick="hint(['GDP, bill','Inflation'],true)">Hint</a></dt>
            <dd>
                <form id="q6" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q6">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q6">No
                    </label>

                </form>
            </dd>
            <dt>7. What affected the Interest Rates?
                <a class="simhref" onclick="hint(['Inflation','Interest','GDP Change'],true)">Hint</a></dt>
            <dd>
                <form id="q7" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q7">Inflation
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q7">GDP Change
                    </label>

                </form>
            </dd>
            <dt>8. Does Nominal Debt have an effect on Czech's GDP?
                <a class="simhref" onclick="hint(['GDP, bill','Debt, bill'],true)">Hint</a></dt>
            <dd>
                <form id="q8" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q8">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q8">No
                    </label>

                </form>
            </dd>
            <dt>9. Did Population play a key role in the GDP's exponential Growth?
                <a class="simhref" onclick="hint('data5',true)">Hint</a></dt>
            <dd>
                <form id="q9" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q9">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q9">No
                    </label>

                </form>
            </dd>
            <dt>10. What effect does the Saving Rate as GDP% have on the Payment Balance?
                <a class="simhref" onclick="hint(['Saving, GDP','Payment'],true)">Hint</a></dt>
            <dd>
                <form id="q10" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q10">Correlating
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q10">None
                    </label>

                </form>
            </dd>
        </dl>