{% load staticfiles %}
        <img class="quit" style="" src="{% static 'images/cancel.png' %}" alt="close" onclick="quiz()">

        <div class="simhref" style="text-align: center;" onclick="quiz()"><h1 style="margin-top: 0">&nbsp;&nbsp;&nbsp;&nbsp;
            Quiz</h1></div>

        <dl>
            <dt>1. How did the disparity between Debt as a % of GDP and Nominal Debt affect the Czech economy?
                <a class="simhref" onclick="hint(['GDP, bill','Debt, mill','Inflation'])">Hint</a>
            </dt>
            <dd>
                <form id="q1" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q1">Increase Debt
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q1">Increase Inflation
                    </label>

                </form>

            </dd>
            <dt>2. When was the only decrease in GDP in Czech history?
                <a class="simhref" onclick="hint(['GDP, bill'])">Hint</a>
            </dt>
            <dd>
                <form id="q2" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q2">Financial Crisis
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q2">WWII
                    </label>

                </form>
            </dd>
            <dt>3. Does the Czech follow the phillips curve rule?
                <a class="simhref" onclick="hint('phillipscurve')">Hint</a></dt>
            <dd>
                <form id="q3" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q3">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q3">No
                    </label>

                </form>
            </dd>
            <dt>4. What 2 events had the greatest impact on Debt as a % of GDP?
                <a class="simhref" onclick="hint(['Debt, GDP %'])">Hint</a>
            </dt>
            <dd>
                <form id="q4" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q4">Financial Crisis & Industrial Rev.
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q4">The World Wars
                    </label>

                </form>
            </dd>
            <dt>5. When did Czech's population decrease?
                <a class="simhref" onclick="hint(['Population'])">Hint</a></dt>
            <dd>
                <form id="q5" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q5">WWII (1939-1945)
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q5">WWI (1914-1918)
                    </label>

                </form>
            </dd>
            <dt>6. What did government spending have a direct affect on?
                <a class="simhref" onclick="hint('data1')">Hint</a></dt>
            <dd>
                <form id="q6" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q6">Debt % of GDP
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q6">Nominal Debt
                    </label>

                </form>
            </dd>
            <dt>7. What affected the Interest Rates?
                <a class="simhref" onclick="hint(['Inflation','Interest','Tax Rev, GDP %'])">Hint</a></dt>
            <dd>
                <form id="q7" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q7">Inflation
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q7">Tax Revenue
                    </label>

                </form>
            </dd>
            <dt>8. Does Nominal Debt have an effect on Czech's GDP?
                <a class="simhref" onclick="hint(['GDP, bill','Debt, mill'])">Hint</a></dt>
            <dd>
                <form id="q8" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q8">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q8">No
                    </label>

                </form>
            </dd>
            <dt>9. Did Population play a key role in the GDP's exponential Growth?
                <a class="simhref" onclick="hint('data5')">Hint</a></dt>
            <dd>
                <form id="q9" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q9">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q9">No
                    </label>

                </form>
            </dd>
            <dt>10. What effect did Debt as a % of GDP have on Interest Rates?
                <a class="simhref" onclick="hint('data7')">Hint</a></dt>
            <dd>
                <form id="q10" role="form">
                    <label class="radio-inline">
                        <input type="radio" name="q10">Correlating
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q10">None
                    </label>

                </form>
            </dd>
        </dl>