{% extends 'vis/base.html' %}
{% load staticfiles %}
{% block title %}Help{% endblock %}


{% block content %}

    <div class="page-header" >
        <h2>Manual And Other Help</h2>
    </div>

    <div class="" style="  min-height: 400px; ">

        <h3>How to use the Application</h3>
        The application is meant to display economic data about the United Kingdom.

        <br><br>
        <h3>Extending</h3>
        <h4>Inputting your own data</h4>
        The data for the graph is taken from a csv file that is located with the server. Therefore the data can be changed by changing the
        csv file itself. This can be easily dont by opening it in excell or the like. The data us read and given to the graph using JSON.
        The JSON data can be seen by accessing <a href="{% url 'vis.views.main_data' %}">Main Graph Data</a>. The CSV can be accessed using <a href="{% static 'debtdata.csv' %}">CSV Link</a>
    </div>

    <div class="references top-border" >
        <h1>Credits and Further Reading</h1>
        <ul>
            <li>Source: <p>Author: Luka Prelic</p></li>
            <li><p>Date: 2015</p></li>
        </ul>
    </div>

{% endblock %}
