{% extends 'vis/base.html' %}
{% load staticfiles %}
{% block title %}Economic Visualisation{% endblock %}
{% block extrahead %}
    <link href="{% static 'nvd3-community/build/nv.d3.css' %}" rel="stylesheet">
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'nvd3-community/build/nv.d3.js' %}"></script>
    <script src="{% static 'js/mainvis.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="page-header" style="  margin: 00px 0 10px;  padding-bottom: 0px;">
        <h2 style="    margin-top: 0.00em;
    margin-bottom: 0.0em;">Economic Visualisation</h2>
    </div>

    <div class="" style="height:92%; min-height: 500px; ">
        <div class="" style="float:left;  border-right: 5px solid #dddddd; float:left; height: 100%; width: 23%;
        background-color: #ffffff; padding: 10px 10px 10px 10px;  margin: 0px 00px 20px 00px; ">
            <h4 style="   text-align: center;">
                Controls
            </h4>
            <!-- Main Graph Control Panel-->
            <div class="panel panel-info" >
                <div class="panel-heading">Main Graph</div>
                <div class="panel-body" style="text-align: center"><div>
                    <div class="btn-group-vertical btn-group-md" role="group">
                    <button type="button" class="btn btn-info " aria-label="true" onclick="setInteractiveMode()"><div class="txt-responsive">Interactive Mode</div></button>
                    <button type="checkbox" class="btn btn-info"  onclick="setFocusMode()"><div class="txt-responsive">Navigation Chart</div></button>
                    <button type="checkbox" class="btn btn-info " onclick="NormaliseMode()"><div class="txt-responsive">Normalise</div></button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Second Control Panel-->
            {% comment %}<div class="panel panel-info" >
                <div class="panel-heading ">Data</div>
                <div class="panel-body" style="text-align: center"><div>
                    <div class="btn-group-vertical btn-group-lg " role="group">
                    <button type="checkbox" class="btn btn-info" aria-label="true" onclick="setInteractiveMode()"></button>
                    <button type="checkbox" class="btn btn-info"  onclick="setFocusMode()"></button>
                    <button type="checkbox" class="btn btn-info" onclick="NormaliseMode()"></button>
                    </div>
                    </div>
                </div>
            </div>{% endcomment %}
            <div class="panel panel-info" >
                <div class="panel-heading">Style</div>
                <div class="panel-body " style="text-align: center"><div>
                    <div class="btn-group-vertical btn-group-md" role="group">
                    <button type="button" class="btn btn-info " aria-label="true" onclick="BackgroundColour()"><div class="txt-responsive">Background Colour</div></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--The right side-->
        <div class="" style=" float:left;  height: 100%; width: 77%;">
            <!--The right side TOP-->
            <div class="" style=" height: 25%;">
                <!--The right side TOP LEFT-->
                <div class="topvis">
                    <h5 class="toptitle" >Phillips Curve</h5>
                    <div id="leftvis" class="with-3d-shadow with-transitions" style="height: 90%; width:100%">
                         <svg></svg>
                    </div>
                </div>
                <!--The right side TOP MIDDLE-->
                <div class="topvis">
                    <h5 class="toptitle" >Laffer Curve</h5>
                    <div id="middlevis" class="with-3d-shadow with-transitions" style="height: 90%; width:100%">
                         <svg></svg>
                    </div>
                </div>
                <!--The right side TOP RIGHT-->
                <div class="topvis" style="float: right;">
                    <h5 class="toptitle" >IS-LM Model</h5>
                    <div id="rightvis" class="with-3d-shadow with-transitions" style="height: 90%; width:100%">
                         <svg></svg>
                    </div>
                </div>
            </div>

            <!--The right side BOTTOM-->
            <div id="mainparent" class="" style=" width: 100%; border-top: 5px solid #dddddd;   height: 75%;">

                <div id="main" class="with-3d-shadow with-transitions"
                     style="  height:100%; width: 100%; background-color: rgb(255, 250,0); ">
                    <svg></svg>
                </div>
            </div>


        </div>
    </div>

    <div class="references top-border">
        <h1>Data Attributes</h1>
        <ul>
            <li>Real GDP - The inflation adjustment is set to reference 2008</li>
            <li>Tax Revenue- This includes all taxable income</li>
            <li>Inflation - The inflation relates the the Consumer Price Index, therefore consumer goods inflation</li>
        </ul>
        <h1>Interesting data combinations</h1>
        <ul>
            <li id="spendingvsdebt" onclick="spendingVsDebt()">Spending Vs. Public Debt</li>
            <li onclick="realGDPVsGDP()">Real GDP (per Capita) Vs. GDP (per Capita)</li>
            <li onclick="spendingVsDebt()">Spending Vs. Public Debt</li>
        </ul>
        <h1>Further Reading</h1>
        <ul>
            <li><a href="http://en.wikipedia.org/wiki/Phillips_curve">Phillips Curve</a></li>
            <li><a href="http://en.wikipedia.org/wiki/IS%E2%80%93LM_model">IS-LM Model</a>:
                <a href="https://www.youtube.com/watch?v=Q3hoC8lDCBo">Video Explanation</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Yield_curve">Yield Curve</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Laffer_curve">Laffer Curve</a></li>
        </ul>
    </div>

{% endblock %}
