{% extends 'vis/base.html' %}
{% load staticfiles %}
{% block title %}Economic Visualisation{% endblock %}
{% block extrahead %}
    <link href="{% static 'nvd3/nv.d3.css' %}" rel="stylesheet">
    <script src="{% static 'd3/d3.min.js' %}"></script>
    <script src="{% static 'nvd3/nv.d3.js' %}"></script>
    <script src="{% static 'js/mainvis.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Economic Visualisation</h1>
    </div>

    <div class="container-fluid" style="background-color: #31b0d5; height:500px; align-content: center">
        <div class="row" style=" background-color: #008800;">
            <div class="col-md-2" style=" background-color: #101010;">
                <!--div class="container-fluid" style=" height: 500px;  background-color: seashell;"></div-->asd
            </div>

            <div class="col-md-10" style=" display:table; height: 100%; width: 60%; background-color: pink; ">

                <div class="" style="display:table-row; height: 10%; width: 10%;">
                    <div id="chart"
                         style="   display:table-cell;
    float:none; background-color: brown;">
                        <svg></svg>
                    </div>
                </div>
                <div class="" style="display:table-row; height: 90%;width: 50%;">

                    <div  id="main"
                         style="    display:table-cell;
    float:none;  background-color: #ffff00; ">
                        <svg></svg>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="references">
        <h1>Credits and Further Reading</h1>
        <ul>
            <li>Source: <a
                    href="http://nvd3.org/examples/discreteBar.html">http://nvd3.org/examples/discreteBar.html</a></li>
            <li><a href="http://bl.ocks.org/mbostock/3887118">http://bl.ocks.org/mbostock/3887118</a></li>
        </ul>
    </div>

{% endblock %}