<h1>United Kingdom Data Attributes</h1>
<h4>Series Details</h4>
<ul>
    <li>Real GDP - The inflation adjustment is set to reference 2008</li>
    <li>Tax Revenue- This includes all taxable income</li>
    <li>Inflation - The inflation relates the the Consumer Price Index, therefore consumer goods inflation</li>
</ul>
<br>
<h4>Data Sources</h4>

<p> The data is a compile data table comes from many sources. Most of the data comes from the ONS
    (Office for National Statistics).
    However, any data provided that is not available from the ONS was taken from these Sources:<br>
    Tax Rates: <a href="http://www.ifs.org.uk/">Institute For Fiscal Studies</a><br>
    Pre-1900s Data: <a href="http://www.ukpublicspending.co.uk/">Uk Public Spending</a><br>
    GDP 1840-2014: <a href="http://measuringworth.com/">Measuring Growth</a></p>

<!--h1>Interesting data combinations</h1>
<ul class="twocolumns">
    <li><a onclick="setSeries(['Spending', 'Debt'])">Spending Vs. Public Debt</a></li>
    <li><a onclick="setSeries(['per capita'])">Real GDP (per Capita) Vs. GDP (per Capita)</a></li>
    <li><a onclick="setSeries(['GDP %'])">GDP %</a></li>
    <li><a onclick="setSeries(['GDP, billions','Real GDP, billions'])">Real GDP Vs. GDP</a></li>
    <li><a onclick="setSeries(['GDP, billions','per capita','Population'])">Population Vs. GDP</a></li>
    <li><a onclick="setSeries(['unemployment','Tax Rev, GDP %'])">Unemployment Vs. Tax Revenue, GDP %</a></li>
</ul-->
<h1>Further Reading</h1>
<ul class="twocolumns">
    <li><a href="http://en.wikipedia.org/wiki/Phillips_curve">Phillips Curve</a>:
        <a href="https://www.youtube.com/watch?v=-Fk_2iRfC18"> Video Explanation</a></li>
    <li><a href="http://en.wikipedia.org/wiki/IS%E2%80%93LM_model">IS-LM Model</a>:
        <a href="https://www.youtube.com/watch?v=Q3hoC8lDCBo"> Video Explanation</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Yield_curve">Yield Curve</a>:
        <a href="https://www.youtube.com/watch?v=3b69Ax5m7qg"> Video Explanation</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Laffer_curve">Laffer Curve</a>:
        <a href="https://www.youtube.com/watch?v=bnyeWcA2nXo"> Video Explanation</a></li>
</ul>
